@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #e5e4e2;
	font-family: 'Roboto', sans-serif;
    	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#start-btn{
	position: relative;
	width: auto;
	height: auto;
	padding: 10px 20px;
	font-size: 48px;
	text-align: center;
	border: solid 1px #080808;
	border-radius: 25px;
	color: #080808;
	background-color: whitesmoke;
	cursor: pointer;
	z-index: 2;
}

#start-btn:hover{
	background-color: #353839;
	transition: background-color 0.15s ease-in-out;
}

#circle{
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 98vw;
    	width: 98vw;
	border-radius: 50%;
	border: solid 1.5px #353839;
	background-color: gray;
	overflow: hidden;
	max-height: 60vh;
    	max-width: 60vh;
}

#inside-circle{
	position: absolute;
	display: flex;
	height: 30vw;
    	width: 30vw;
	border-radius: 50%;
	border: solid 0.6px #353839;
	background-color: #242124;
	overflow: hidden;
	max-height: 17vh;
    	max-width: 17vh;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 60px;
	z-index: 1;
}

.color{
	width: 50%;
	height: 50%;
}

#green{
	background-color: #3cb371;
	border-right: solid 0.3px #353839;
	border-bottom: solid 0.3px #353839;
	filter: brightness(70%);
}

#red{
	background-color: tomato;
	border-left: solid 0.3px #353839;
	border-bottom: solid 0.3px #353839;
	filter: brightness(70%);
}

#yellow{
	background-color: #fefe33;
	border-right: solid 0.3px #353839;
	border-top: solid 0.3px #353839;
	filter: brightness(70%);
}

#blue{
	background-color: #45b1e8;
	border-left: solid 0.3px #353839;
	border-top: solid 0.3px #353839;
	filter: brightness(70%);
}

.fix-border{
	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
}

.swal-title {
	font-size: 2rem !important;
}

.swal-overlay {
	background-color: black;
	transition: all 0.5s;
}

.swal-modal {
	border-radius: 18px;
}
